<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs') %> 
<h2>Your random number is <%= rand %> </h2>
<h4>Your number is: <%= rand % 2 === 0 ? 'even' : 'odd' %></h4>
<%- include('./partials/footer.ejs') %> 